body {
  background-color: rgb(249, 242, 234);
}

.loading-img {
  width: 200px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin: none;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  width: 200px;
}

button {
  border: none;
  border-radius: 15px;
  padding: 6px;
  background-color: rgb(255, 221, 227);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-container {
 background-color: white;
 padding: 10px 15px;
 margin: 20px;
 border-radius: 20px;
}

.summary-box {
  border-radius: 20px;
  box-shadow: 0 7px 6px -6px #777777b2;
  padding: 10px;
  margin: 20px;
  background-color: rgb(254, 250, 250);
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
  font-size: .9rem;
}
